<%= render_navbar_for('邀请朋友得优惠', 
{ icon: 'fa fa-angle-left', link: "#{settings_wechat_shop_user_path}" }) %>

<div class="container">
  
  <div class="share-invite-icon">
    <%= invite_icon_tag(@invite) %>
  </div>
  
  <div class="share-invite-body">
    <%= @invite.body %>
  </div>
    
</div>

<div class="share-buttons">
  <a href="javascript:;" class="share-friend share-button" onclick="shareFriend();">分享给朋友</a>
  <a href="javascript:;" class="share-timeline share-button" onclick="shareTimeline();">分享到朋友圈</a>
</div>

<% content_for :scripts do %>
<script>

var imgUrl = "<%= @invite.share_icon_url %>";
var lineLink = "<%= @invite.link %>";
var descContent = "<%= @invite.body %>";
var shareTitle = '<%= @invite.title %>';
  
function shareFriend() {
  WeixinJSBridge.invoke('sendAppMessage',{
    "img_url": imgUrl,
    "img_width": "200",
    "img_height": "200",
    "link": lineLink,
    "desc": descContent,
    "title": shareTitle
  }, 
  function(res) {
    console.log(res);
  });
}

function shareTimeline() {
  WeixinJSBridge.invoke('shareTimeline',{
    "img_url": imgUrl,
    "img_width": "200",
    "img_height": "200",
    "link": lineLink,
    "desc": descContent,
    "title": shareTitle
   }, function(res) {
     console.log(res);
   });
}

</script>
<% end %>