<% cache @user do %>
<div class="user-header">
  <%= user_avatar_tag(@user, :big) %>
  <p class="nickname"><%= @user.nickname %></p>
</div>
<% end %>

<div class="user-info">
  <table class="user-info-table">
    
    <!--tr onclick="gotoLink('<%= new_wechat_shop_coupon_path %>')">
      <td class="cell-left">兑换优惠码</td>
      <td class="cell-right"><i class='fa fa-angle-right' style='font-size: 24px'></i></td>
    </tr-->
    <tr onclick="gotoLink('<%= invite_wechat_shop_user_path %>')">
      <td class="cell-left"><span class="invite row-label-1">推荐朋友</span></td>
      <td class="cell-right"><span class="rewards">有奖</span><i class='fa fa-angle-right fa-icon'></i></td>
    </tr>    
    <tr onclick="gotoLink('<%= wechat_shop_coupons_path(from: settings_wechat_shop_user_path) %>')">
      <td class="cell-left"><span class="coupon row-label-1">优惠券</span></td>
      <td class="cell-right"><i class='fa fa-angle-right fa-icon'></i></td>
    </tr>
    <tr class="blank-row-1">
      <td colspan="2"></td>
    </tr>
    
    <tr onclick="gotoLink('<%= wechat_shop_shipments_path(from: settings_wechat_shop_user_path) %>')">
      <td class="cell-left"><span class="address row-label-1">收货地址</span></td>
      <td class="cell-right"><i class='fa fa-angle-right fa-icon'></i></td>
    </tr>
    <tr class="blank-row-1">
        <td colspan="2"></td>
    </tr>
    <tr onclick="gotoLink('<%= wechat_shop_page_path('service') %>')">
      <td class="cell-left"><span class="service row-label-1">售后服务</span></td>
      <td class="cell-right"><i class='fa fa-angle-right fa-icon'></i></td>
    </tr>
    <tr onclick="gotoLink('<%= wechat_shop_page_path('help') %>')">
      <td class="cell-left"><span class="help row-label-1">帮助</span></td>
      <td class="cell-right"><i class='fa fa-angle-right fa-icon'></i></td>
    </tr>
    
  </table>
</div>

<% content_for :tabbar do %>
  <%= render '/wechat_shop/shared/tabbar' %>
<% end %>

<% content_for :scripts do %>
<script>
function gotoLink(url) {
  window.location.href = url;
}
</script>
<% end %>