<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">
      <div class="col-xs-3">
        <% if left_item[:link].present? %>
        <a href="<%= left_item[:link] %>" class="navbar-item navbar-item-left">
          <i class="<%= left_item[:icon] %>"></i>
        </a>
        <% end %>
      </div>
      <div class="col-xs-6 navbar-title-view">
        <% if title.present? %>
        <h2><%= title %></h2>
        <% end %>
      </div>
      <div class="col-xs-3">
        <% if right_item[:link].present? %>
        <a href="<%= right_item[:link] %>" class="navbar-item navbar-item-right <%= right_item[:class] %>">
          <% if right_item[:label].present? %>
          <%= right_item[:label] %>
          <% else %>
          <i class="<%= right_item[:icon] %>"></i>
          <% end %>
        </a>
        <% end %>
      </div>
    </div>
</nav>