<div class="container">
  <div class="box home-help-link-container">
    
    <a class="home-help-link">农家：让城里人直接购买乡下的土货
    <span class="right-arrow pull-right"><i class="fa fa-angle-right" style="font-size: 24px"></i></span></a>
  </div>

  <div class="home-products">
    <% @products.each_with_index do |product, index| %>
    <div class="product <%= index % 2 == 1 ? "product-pull-right" : "" %>">
      <a class="product-link" href="<%= wechat_shop_product_path(product) %>">
        <%= image_tag product.images.first.url(:small) %>
        <div class="product-info">
          <h2 class="title"><%= truncate(product.title, length: 15) %></h2>
          <p class="price">¥ <%= product.price %></p>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>

<% content_for :tabbar do %>
<%= render '/wechat_shop/shared/tabbar' %>
<% end %>