<div class="box">
  <a class="home-help-link">农家：让城里人直接购买乡下的土货 ></a>
</div>

<div class="home-products">
  <% @products.each_with_index do |product, index| %>
  <div class="product <%= index % 2 == 1 ? "product-pull-right" : "" %>">
    <a class="product-link">
      <%= image_tag product.images.first.url(:small) %>
      <div class="product-info">
        <h2 class="title"><%= product.title %></h2>
        <p class="price">¥ <%= product.price %></p>
      </div>
    </a>
  </div>
  <% end %>
</div>

<% content_for :toolbar do %>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <ul class="shop-toolbar">
    <li class="active"><%= link_to '首页', wechat_shop_root_path %></li>
    <li><%= link_to '我的订单', '#' %></li>
    <li><%= link_to '个人中心', '#' %></li>
  </ul>
</nav>
<% end %>