<div class="container home-container">
  <div class="box home-help-link-container">
    <a class="home-help-link" href="<%= wechat_shop_page_path('about') %>">农家：让城里人直接购买乡下的土货
      <span class="right-arrow pull-right">
        <i class="fa fa-angle-right" style="font-size: 20px"></i>
      </span>
    </a>
  </div>
  
  <div class="home-products">
    <% cache ['home-products', @products.to_a, 'v1'] do %>
      <% @products.each_with_index do |product, index| %>
      <% cache ['home-product', product, index % 2 == 1, 'v1'] do %>
      <div class="product <%= index % 2 == 1 ? "product-pull-right" : "" %>">
        <a class="product-link" href="<%= wechat_shop_product_path(product) %>">
          <%= image_tag product.images.first.url(:small) %>
          <div class="product-info">
            <div class="block-ellipsis"><%= product.title %></div>
            <p class="price">¥ <%= product.price %></p>
          </div>
        </a>
      </div>
      <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :tabbar do %>
<%= render '/wechat_shop/shared/tabbar' %>
<% end %>