<%= render_navbar_for('新增收货地址', 
{ icon: 'fa fa-angle-left', link: "#{wechat_shop_shipments_path}" }) %>

<div class="vertical-divider"></div>
<div class="container-form">
  <%= form_for [:wechat_shop, @shipment] do |f| %>
  
  <%= render "/wechat_shop/shared/error_messages", target: @shipment %>
  
  <div class="input-control first">
    <span class="label-1">收货人：</span><%= f.text_field :name, placeholder: '必填' %>
  </div>
  <div class="input-control">
    <span class="label-1">手机号码：</span><%= f.text_field :mobile, placeholder: '输入11位正确手机号' %>
  </div>
  <div class="input-control">
    <span class="label-1">所在区域：</span><%= f.select :region, SiteConfig.regions.split(','), prompt: '选择区域', class: '' %>
  </div>
  <div class="input-control">
    <span class="label-1">详细地址：</span><%= f.text_area :address, placeholder: '输入详细的正确收货地址', class: 'input-address', rows: 3 %>
  </div>
  <div class="input-control input-button">
    <%= f.submit '保存', class: 'button' %>
  </div>
  
  <% end %>
</div>
