<%= render_navbar_for('订单详情', 
{ icon: 'fa fa-angle-left', link: "#{orders_wechat_shop_user_path}" }) %>

<div class="order-detail">
  <%- if @order.can_pay? %>
  <div class="order-detail-item pay-tip-block" id="pay-tip-div">
    <h2>请尽快完成支付，否则 <%= time_ago_in_words(@order.created_at + 30.minutes) %>后系统自动取消您的订单</h2>
    <a href="javascript:;" onclick="App.payment(event, this);" class="pay-button" data-order-no="<%= @order.order_no %>" data-remote="true" data-order-detail="1" id="order-detail-pay-button">去支付</a>
  </div>
  <%- end %>
  <%- if @order.shipping? and @order.express.present? -%>
  <div class="order-detail-item express-info">
    <h2>订单配送中</h2>
    <p>承运公司：<%= @order.express.name %></p>
    <p>运单编号：<%= @order.express.exp_no %></p>
    <p>官方电话：<%= SiteConfig.sf_contact %></p>
  </div>
  <%- else -%>
  <%- if @order.completed? and @order.express.present? -%>
  <div class="order-detail-item express-info">
    <h2>订单已完成</h2>
    <p>承运公司：<%= @order.express.name %></p>
    <p>运单编号：<%= @order.express.exp_no %></p>
    <p>官方电话：<%= SiteConfig.sf_contact %></p>
  </div>
  <%- end -%>
  <div class="order-detail-item base-info">
    <p>订单号: <%= @order.order_no %></p>
    <p>下单时间: <%= @order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
    <p>订单状态: <span class="green" id="order-state"><%= @order.state_info %></span></p>
    <p>订单总价: <span class="green">¥ <%= @order.total_fee - @order.discount_fee %></span></p> 
  </div>
  <%- end -%>
  
  <div class="order-detail-item shipment-info">
    <h2>收货信息</h2>
    <p><%= @order.shipment_info.try(:name) %><span class="mobile"><%= @order.shipment_info.try(:mobile) %></span></p>
    <p><%= @order.shipment_info.try(:address) %></p>
  </div>
  <div class="order-detail-item">
    <table class="products-table">
      <tr class="item-row">
        <td class="product-icon">
          <%= link_to image_tag(@order.product.images.first.url(:small), size: '60x60'), wechat_shop_product_path(@order.product) %>
        </td>
        <td class="product-title"><%= @order.product.title %></td>
        <td class="other-info">
          <p>¥ <%= @order.product.price %></p>
          <p style="color: #aaa;">× <%= @order.quantity %></p>
        </td>
      </tr>
      <tr>
        <td>商品金额</td>
        <td class="product-title"></td>
        <td class="other-info">¥ <%= @order.total_fee %></td>
      </tr>
      <tr class="item-row">
        <td>实付款</td>
        <td class="product-title"></td>
        <td class="other-info green">¥ <%= @order.total_fee - @order.discount_fee %></td>
      </tr>
    </table>
  </div>
</div>