<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
  <title><%= render_page_title %></title>
  <%= stylesheet_link_tag 'wechat', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield :navbar %>
  
  <% unless notice_message.blank? %>
  <div class="container">
    <%= notice_message %>
  </div>
  <% end %>
  
  <%= yield %>
  
  <%= content_for?(:toolbar) ? yield(:toolbar) : '' %>
  <%= content_for?(:tabbar) ? yield(:tabbar) : '' %>
  
  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  
  <%= javascript_include_tag 'wechat', 'data-turbolinks-track' => true %>
  
  <%= yield :scripts %>
</body>
</html>